In [1]:
import pandas as pd
import numpy as np

In [2]:
gspc_df = pd.read_csv('Downloads/^GSPC.csv')

In [3]:
gspc_df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-05-16,2855.800049,2892.149902,2855.800049,2876.320068,2876.320068,3338060000
1,2019-05-17,2858.600098,2885.479980,2854.229980,2859.530029,2859.530029,3257950000
2,2019-05-20,2841.939941,2853.860107,2831.290039,2840.229980,2840.229980,3288870000
3,2019-05-21,2854.020020,2868.879883,2854.020020,2864.360107,2864.360107,3218700000
4,2019-05-22,2856.060059,2865.469971,2851.110107,2856.270020,2856.270020,3192510000
...,...,...,...,...,...,...,...
248,2020-05-11,2915.459961,2944.250000,2903.439941,2930.189941,2930.189941,4807320000
249,2020-05-12,2939.500000,2945.820068,2869.590088,2870.120117,2870.120117,5107710000
250,2020-05-13,2865.860107,2874.139893,2793.149902,2820.000000,2820.000000,6143130000
251,2020-05-14,2794.540039,2852.800049,2766.639893,2852.500000,2852.500000,5641920000
252,2020-05-15,2829.949951,2865.010010,2816.780029,2863.699951,2863.699951,5477040000

In [4]:
df=gspc_df

In [5]:
df.max(axis=0)

Date         2020-05-15
Open            3380.45
High            3393.52
Low             3378.83
Close           3386.15
Adj Close       3386.15
Volume       9044690000
dtype: object

In [6]:
df.min(axis=0)

Date         2019-05-16
Open            2290.71
High            2300.73
Low             2191.86
Close            2237.4
Adj Close        2237.4
Volume       1296540000
dtype: object

In [7]:
3386-2237

1149

In [8]:
1149/4

287.25

In [9]:
2237+(287*4)

3385

In [10]:
2237+287

2524

In [11]:
2237+287*2

2811

In [12]:
2237+(287*3)

3098

In [13]:
df['Close'][0]

2876.320068

In [14]:
#Frequency Distribution Table
count=0
s33=0
s22=0
s11=0
for i in range(0,253):
        if 2237<=df['Close'][i]<2525: #LL
            count=count+1
        elif  2525 <=df['Close'][i] < 2812: #LH
            s33=s33+1
        elif 2812 <=df['Close'][i] < 3099: #HL
            s22=s22+1
        elif 3099 <=df['Close'][i] < 3386: #HH
            s11=s11+1
print("No of days for which stock close value falls in the LL category",count) 
print("No of days for which stock close value falls in the LH category",s33)
print("No of days for which stock close value falls in the HL category",s22)
print("No of days for which stock close value falls in the HH category",s11)

No of days for which stock close value falls in the LL category 10
No of days for which stock close value falls in the LH category 25
No of days for which stock close value falls in the HL category 149
No of days for which stock close value falls in the HH category 68

In [21]:
count=0
s33=0
s22=1
s11=0
for i in range(0,252):
    if 3099<=df['Close'][i]<3386 :
        if 2237<=df['Close'][i+1]<2525:
            count=count+1
        elif  2525 <=df['Close'][i+1] < 2812:
            s33=s33+1
        elif 2812 <=df['Close'][i+1] < 3099:
            s22=s22+1
        elif 3099 <=df['Close'][i+1] < 3386:
            s11=s11+1
    
print("LL :",count) 
print("LH :",s33)
print("HL :",s22)
print("HH :",s11)

LL : 0
LH : 0
HL : 4
HH : 64

In [22]:
count=0
s33=0
s22=1
s11=0
for i in range(0,252):
    if 2812<=df['Close'][i]<3099 :
        if 2237<=df['Close'][i+1]<2525:
            count=count+1
        elif  2525 <=df['Close'][i+1] < 2812:
            s33=s33+1
        elif 2812 <=df['Close'][i+1] < 3099:
            s22=s22+1
        elif 3099 <=df['Close'][i+1] < 3387:
            s11=s11+1
    
print("LL :",count) 
print("LH :",s33)
print("HL :",s22)
print("HH :",s11)

LL : 0
LH : 5
HL : 141
HH : 3

In [17]:
count=0
s33=0
s22=0
s11=0
for i in range(0,252):
    if 2525<=df['Close'][i]<2812 :
        if 2237<=df['Close'][i+1]<2525:
            count=count+1
        elif  2525 <=df['Close'][i+1] < 2812:
            s33=s33+1
        elif 2812 <=df['Close'][i+1] < 3099:
            s22=s22+1
        elif 3099 <=df['Close'][i+1] < 3386:
            s11=s11+1
    
print("LL :",count) 
print("LH :",s33)
print("HL :",s22)
print("HH :",s11)

LL : 5
LH : 15
HL : 5
HH : 0

In [18]:
count=0
s33=0
s22=0
s11=0
for i in range(0,252):
    if 2237<=df['Close'][i]<2525 :
        if 2237<=df['Close'][i+1]<2525:
            count=count+1
        elif  2525 <=df['Close'][i+1] < 2812:
            s33=s33+1
        elif 2812 <=df['Close'][i+1] < 3099:
            s22=s22+1
        elif 3099 <=df['Close'][i+1] < 3386:
            s11=s11+1
    
print("LL :",count) 
print("LH :",s33)
print("HL :",s22)
print("HH :",s11)

LL : 5
LH : 5
HL : 0
HH : 0